# Análise dos microdados ENADE (parte 2)
## Subindo o dicionário de dados

### Instale os pacotes

```pip install rlrd```

```pip install openpyxl```

In [1]:
import pandas as pd
import numpy as np

## Carrengando dicionário de dados disponibilizado junto com os microdados

In [2]:
path='C:/BI-GOV/eda-git/eda-educational-public-datasets/datasets/enade/'

file_dic = path+'dicionario_enade_19.xlsx'
data_dict = pd.read_excel(file_dic, sheet_name=0, header=1)

C:\Users\vanessa\AppData\Local\Programs\Python\Python39\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

## Resolvendo formatação: de xlsx para csv com apenas no nome do atributo e suas categorias

In [3]:
#removendo caractere do começo e fim e alterando espaço vazio para NAN
data_dict['CATEGORIAS'] = data_dict['CATEGORIAS'].str.strip().replace('', np.nan)

In [5]:
# remove categorias com valor NAN
data_dict.dropna(how='any', subset=['CATEGORIAS'], inplace=True)

In [6]:
# preenchendo campos vazios no nome
data_dict['NOME'].fillna(method='ffill', inplace=True)

In [7]:
# reduzindo a quantida de colunas do dataframe para possuir somente o nome e as categorias
data_dict = data_dict[['NOME','CATEGORIAS']]

In [8]:
# ordenando o dataframe em ordem crescente
data_dict.sort_values(by=['NOME', 'CATEGORIAS'], ascending=True, inplace=True)

<ipython-input-8-e33f59d3230b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_dict.sort_values(by=['NOME', 'CATEGORIAS'], ascending=True, inplace=True)

## Salvando o dicionário de dados

In [9]:
data_dict.to_csv(path+'dicionario_categorias.csv', index=False, encoding='utf-8')

In [10]:
data_dict

            NOME                                         CATEGORIAS
93    ANO_FIM_EM                      AAAA (valores entre 0 e 2612)
94   ANO_IN_GRAD                      AAAA (valores entre 3 e 2092)
15    CO_CATEGAD  10001 = Pessoa Jurídica de Direito Público - E...
16    CO_CATEGAD  10002 = Pessoa Jurídica de Direito Público - F...
17    CO_CATEGAD  10003 = Pessoa Jurídica de Direito Público - M...
..           ...                                                ...
175    TP_SFG_D2           335 = Questãocom resposta nula (zerada)*
176    TP_SFG_D2         336 = Questão com resposta desconsiderada*
177    TP_SFG_D2    555 = Questão com resultado considerado válido*
178    TP_SFG_D2  556 = Questão com resultado desconsiderado a p...
179    TP_SFG_D2  Nota: (*) resultado considerado para o cálculo...

[802 rows x 2 columns]